
<div class="container">
    <br/>
    <div className="row g-0">
      
        <div className="col-md-4">

        <div class="card text-center">
<div class="card-body">
<img src="assets/images/logo.PNG" width="400px" alt=""/>
<h4 class="card-title">What We Do</h4>
<p class="card-text">We store all your belongings at Our facility for a period of your choice. We collect your items from your residence and transport them to our facility. Your items will be transported to your residence as well after the storage period has expired 
                 </p>

</div>
</div>
        </div>
    </div>
    <br/>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <h4><span  class="badge bg-primary" [style.align-items] = "'center'" >Facility Information</span></h4>
  </nav>
  <br/>
  <div class="card">
<div class="card-header">
<h5>Gauteng, South Africa</h5>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item">XMP Warehouse</li>
<li class="list-group-item">1234 Cranbourne, Woodcrest</li>
<li class="list-group-item">Benoni, 1520</li>
</ul>
</div>
            <br/>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <h4 class="centered"><span  class="badge bg-primary" >My Values</span></h4>
  </nav>
  <br/>
  <div class="row g-5">
          <div class="col-md-4">
              <div class="card text-center">
              <div class="card-body">
              <h5 class="card-title">Security</h5>
              <p class="card-text">We use advanced security mearsures to protect your items from harm.</p>
              </div>
              </div>
          </div>
          <div class="col-md-4">
          <div class="card text-center" id="right">
              <div class="card-body">
              <h5 class="card-title">Safety</h5>
              <p class="card-text">With the aid of regulations, your items are safe and sound.</p>
              </div>
              </div>
          
          </div>
      </div>
      <br/>
      <div class="row g-5">
      <div class="col-md-4">
      <div class="card text-center" id="rightToo">
              <div class="card-body">
              <h5 class="card-title">Efficiency</h5>
              <p class="card-text">Using advanced storage methods, your items are allocated their own space.</p>
              </div>
              </div>
      </div>
      <div class="col-md-4" >
      <div class="card text-center" id="right">
              <div class="card-body">
              <h5 class="card-title">Communication</h5>
              <p class="card-text">We let you know about processes occurring with your items at all times.</p>
              </div>
              </div>
      </div>
      </div>
      <br/>
</div>