<div class="container" >
    <br/>
    <div class="row g-0">

        <div class="col-md-4">
            <img src="assets/images/sideBarimage.PNG" class="rounded float-left" alt="...">
        </div>

        <div class="col-md-8"> 
          
            <h3 class="font-weight-bold">
                Welcome, This is UniStore
            </h3>
            <br/>
            <p>Hundreds of Hours have been invested into learning and research so we can make your Storage Needs a Success. Through cutting edge technologies and relaible methods we have got your back. We Store your Boxed or Bagged items in our facilites for as long as you need. Upon return you will reach your valueables returned to your Home</p>
            <h5>Let's Save you the pain of leaving and returning with the same Luggage</h5>
            <h5>Let's Make your fleights home cheaper and convenient</h5>
            <h5>Let's Store your Valuebles at your Home away from Home/</h5>
            <br/>
        </div>
    </div>
    <br/>
   
    <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
        <img src="assets/images/slidingImage.PNG" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Boxes</h4>
        <p class="card-text">We Store your Boxes in our safe facilities, Don't worry about theft, water damage or even tears. We keep them like their are our own</p>
        
      </div>
    </div>
  </div>
</div>
            <br/>


        <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
        <img src="assets/images/slidingimage2.PNG" class="rounded float-right" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Luggage Bags</h5>
        <p class="card-text">We also pack your luggage bags safely in our facilities, Don't worry about mix-ups, and confusion. Even if your Bag is identical to others, we will find your special bag.</p>
      </div>
    </div>
  </div>
</div>
<br/>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
<h2><span class="badge bg-primary">Solutions For Your Storage Needs</span></h2>
            </nav>
            <br/>

            <div class="card bg-dark text-white">
            <img src="assets/images/foreGround.PNG" class="rounded float-right" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Safety and Security </h5>
    <p class="card-text">With the latest security equipment, your bags are safe at our facility and will remain untouched. We have a 24/7 security system with realtime cctv, facial recognition, boimetric security and motion sensor alarms fitted with energy cameras. Our facilites are completely airtight</p>
  </div>
</div>
<br/>
</div>